*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    padding: 2rem;
    background-color: #4d4d4d;
    color: snow;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 2rem;
}

h1{
    font-size: 2.5rem;
}

.properties{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: 8px;
}

select, input{
    background-color: #4d4d4d;
    color: snow;
    padding: 0.35rem;
    border: 1px solid #000000;
    border-radius: 7px;
    text-align: start;
}

section{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.transition-list{
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
}

.transition-list button{
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    background: transparent;
    border: 1px solid #000000;
    color: snow;
    border-radius: 8px;
    cursor: pointer;
}

.transition-list button:hover{
    background-color: #4d4d4d;
}

.preview{
    flex: 2;
    text-align: center;
    align-self: center;
}

@media (min-width: 768px) {
    section {
      flex-direction: row;
    }
  }

.block{
    height: 100px;
    background: #1595ff;
    width: 110px;
    margin: auto;
    border-radius: 7px;
    font-size: 1.5rem;
    align-content: center;
}


/* Fade Effect */
.block.fade{
    opacity: 0.5;
}

/* Translate X Effect */
.block.slide-right {
    transform: translateX(40px);
}

/* Translate Y Effect */
.block.slide-up {
    transform: translateY(-40px);
}

/* Rotate */
.block.rotate {
    transform: rotate(45deg);
}

/* Scale */
.block.scale {
    transform: scale(1.25);
}

/* Background-color Effect */
.block.color {
    background: #ffc42b;
}

/* Shadow Effect */
.block.shadow {
    box-shadow: 2px 2px 7px 0px snow;
}

/* Skew Effect */
.block.skew {
    transform: skew(15deg);
}

